<header>
  <section id="header-first">
    <i class="fa-solid fa-bars"></i>
    <img src="../../../assets/icons/icons/chicks-logo-large.svg" alt="Logo">
  </section>

  <section id="header-second">
    <ul>
      <li><p class ="nav-item" href="#"> CURRENCY <span class="fa-solid fa-chevron-down navArrow"></span></p></li>
      <li><p class ="nav-item" href="#"> ITEMS <span class="fa-solid fa-chevron-down"></span></p></li>
      <li><p class ="nav-item" href="#"> ACCOUNTS <span class="fa-solid fa-chevron-down"></span></p> </li>
      <li><p class ="nav-item" href="#"> SERVICES <span class="fa-solid fa-chevron-down"></span></p> </li>
      <li><p class ="nav-item" href="#"> SWAP <span class="fa-solid fa-chevron-down"></span></p> </li>
      <li><p class ="nav-item" href="#"> SELL <span class="fa-solid fa-chevron-down"></span></p> </li>
    </ul>
  </section>

  <section id="header-third">
    <p id="currency" class ="nav-item" href="#"> USD <span class="fa-solid fa-chevron-down"></span></p>
    <div id="cart">
      <i class="fa-solid fa-cart-shopping"></i>
      <p class="nav-item">CART (5)</p>
    </div>

    <button class="button">
      SIGN IN
      <img src="../../../assets/icons/icons/profile.png">
  </button>
  </section>
</header>
